*{
    margin: 0;
    padding: 0;
}

#logo{
    /* float:left; */
    width: 100px;
    height: 100px;
}

/* .beans{
    float: right; 
    height: 200px;
    width: 200px;
}

.first{
    float: left;
} */

.nav-item{
    float: right;
}