:root{
    --color-primary:#7749F8;
    --color-primary-dark:#5227CC;
    --color-primary-light:#EBE5FC;

    --color-secondary:#696969;
    --color-secondary-dark:#54595E;
    --color-secondary-light:#ABB5BE;

    --color-success:#28A745;
    --color-danger:#DC3545;
    --color-warning:#FFC107;
    --color-info:#17A2B8;

    --color-gray-600:#6c757d;
    --color-gray-700:#495057;
    --color-gray-800:#343a40;
    --color-gray-900:#212529;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}


h1{
    font-size: 40px;
    margin: 20px; 
    padding: 20px;
}

h2{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}

h3{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

hr{
    margin: 20px;
}

.container{
    margin: 20px;
    padding: 20px;
}

.navigation{
    width: 100%;
    overflow: hidden;
    margin: auto;
    background-color:#f8f9fa;
    /* position: fixed; */
}   



.navigation a {
    color:var(--color-secondary-dark);
    text-decoration: none;
}

.nav-left li {
    list-style-type: none;
    float: left;
    margin: 10px;
    padding: 5px;
}

.logo a{
    font-weight: bold;
    margin-right: 60px;
    font-size: 20px;
    color: var(--gray-900);   
}

.nav-right li{
    float: right;
    list-style-type: none;
    margin: 10px;
}

.nav-right input{
    border-radius: 6px;
    border: 1px solid #abb5be78;
    padding: 10px;
    
}

.nav-right button{
    border-radius: 6px;
    padding: 10px;
    border: 1px solid var(--color-success);
    color: var(--color-success);
}




.colors{
    margin: 5px;
    padding: 5px;
    overflow: hidden;
}

.box{
    float: left;
    margin: 20px;
}

.color{
    width: 150px;
    height: 70px;
    border-radius: 10px;
}

.primary{
    background-color: var(--color-primary);
}

.primary-dark{
    background-color: var(--color-primary-dark);
}

.primary-light{
    background-color: var(--color-primary-light);
}

.secondary{
    background-color: var(--color-secondary);
}

.secondary-dark{
    background-color: var(--color-secondary-dark);
}

.secondary-light{
    background-color: var(--color-secondary-light);
}

.success{
    background-color: var(--color-success);
}

.danger{
    background-color: var(--color-danger);

}

.warning{
    background-color: var(--color-warning);
}

.info{
    background-color: var(--color-info);
}

.gray-600{
    background-color: var(--color-gray-600);
}

.gray-700{
    background-color: var(--color-gray-700);
}

.gray-800{
    background-color: var(--color-gray-800);
}

.gray-900{
    background-color: var(--color-gray-900);
}

.typography{
    
    margin:20px;
    padding: 5px;
    overflow: hidden; 
}

.body-text{
    float: left;
    width: 50%;
}

.body-text p{
    padding: 30px;
    line-height: 25px;
}

.inline-text{
    float: left;
    width: 50%;
} 

.text-elements{
    line-height: 35px;
    padding: 30px;
}

.line-through{
    text-decoration: line-through;
}

.underline{
    text-decoration: underline;
}

.lead-text p{
    padding: 30px;
    line-height: 30px;
}

/* .tabs{
    width: 50%;
    margin: 10px;;
}

.tabs-nav{
    margin: 10px; 
    overflow: hidden;
}

.tabs .nav-item{
    float: left;
    padding: 15px;
    border-left: 1px solid var(--secondary-light);
    border-top: 1px solid var(--secondary-light);
    list-style-type: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    color: var(--color-primary-dark);
    /* border-bottom: 1px solid #54595E; 
    border-top: 1px solid #54595E;
}

/* .nav-item .home{
    margin-bottom: -1px;
    border-bottom: 1px solid white;
} 

.nav-item .contact {
    border-right: 1px solid var(--secondary-light);
}

 .nav-item .home{
    border-bottom: white;
} 

.tabs-nav:last-child{
    border-right: 1px solid #54595E;
} 

ul:last-child{
    border-right: #495057;
}

.tab-content{
    width: 50%;
    margin: 10px;
} */

.tabs button{
    border: 0;
    padding: 10px;
}

.tabs .nav-item {
    float: left;
    border-left: 1px solid var(--color-secondary-light);
    border-top: 1px solid var(--color-secondary-light);
    background-color: white;
}

.tabs .nav-item.home {
    margin-bottom: -1px;
    border-bottom: 1px solid white;
}

.nav-item.contact {
    border-right: 1px solid var(--color-secondary-light);
    color: var(--color-primary);
}

.nav-item.profile{
    color: var(--color-primary);
}

.tab-content {
    width: 50%;
    clear: left;
    /* font-size: var(--medium); */
    border-top: 1px solid var(--color-secondary-light);
    padding-top: 20px;
}

.btn-class{
    margin: 20px;
}

.buttons table td{
    padding: 20px;
}

.btn{
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border-style: none;
}

.outline-pri{
    color: var(--color-primary-dark);
    border: 1px solid #5227CC;
    background-color: white;
}

.outline-sec{
    color: var(--color-secondary-light);
    border: 1px solid var(--color-secondary-light);
    background-color: white;
}

.form{
    overflow: hidden;
    width: 100%;
   
}

.form > div{
    float: left;
    padding-right: 20px;

}

.form-left{
    width: 30%; 
    padding: 20px;
    
}


.form-left ul{
    border: 1px solid var(--color-secondary-light);
    list-style-type: none;
    
    /* width: 40%;  */
}

.form-left li{
    padding: 15px;
    border-bottom: 1px solid var(--color-secondary-light);
}

.form-left .select-form{
    background-color: var(--color-primary);
    color: white;
}

.form-right{
    float: left;
    padding: 20px;
}

.form-right-el{
    margin: 20px;
    padding: 10px;
}

.form-right-el .first-input{
    width: 50%;
    height: 30px;
    border: 1px solid var(--color-secondary-light);
}
.form-right-el select{
    width: 50%;
    height: 30px;
    border: 1px solid var(--color-secondary-light);
}
.form-right-el select option{
    color: var(--color-secondary-light);
}

    

.form-right-el textarea{
    width: 50%;
    height: 100px;
    border: 1px solid var(--color-secondary-light);
}
.form-right-el ::placeholder{
    color: var(--color-secondary-light);
}
.test{
    overflow: hidden;
}

.item-column{
    float: left;
    margin: 10px;
    margin-right: 20px;
    font-size: 10px;
   
}

.item-column div{
    line-height: 25px;
}

.item-inline{
    float: left;
    margin: 10px;
    font-size: 10px;
    
}

.item-inline div{
    display: inline-block;
    margin-right: 20px;
}

.form-right-el div .validation{
    padding: 10px;
    margin: 10px;
}

 .form-right-el .input-success input{
        border-radius: 2px;
        height: 30px;
        width: 70%;
        border: 1px solid var(--color-success);
        color: var(--color-success);
}

.form-right-el .input-error input{
    border-radius: 2px;
    height: 30px;
    width: 70%;
    border: 1px solid var(--color-danger);
    color: var(--color-danger);
}
       
.list-group{
    overflow: hidden;
    width: 100%;
}

.list-left{
    float: left;
}

.list-right{
    float: right;
    width: 30%;
}

.list-group ul{
    border: 1px solid var(--color-secondary-light);
    list-style-type: none;
    
}

.list-group li{
    padding: 15px;
    border-bottom: 1px solid var(--color-secondary-light);
}

.list-left .select-list{
    background-color: var(--color-primary);
    color: white;
}
.list-right .select-list{
    background-color: var(--color-primary);
    color: white;
}

.list-right-heading{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 15px;
}

.list-right-days{
    float: right;
    font-weight: bold;
    font-size: x-small;
}

.list-right-content{
    margin-bottom:15px;
}

.list-right-footer{
    font-size: xx-small;
    color: var(--color-secondary-light);
}

.tables{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.tables th{
    border-bottom: 1px solid var(--color-secondary-light);
    border-top: 1px solid var(--color-secondary-light);
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.tables td{
    text-align: left;
    border-bottom: 1px solid var(--color-secondary-light);
    padding: 10px;
}

.tables td:first-child{
    font-weight: bold;
}

.page-indicator{
    float: right;
    margin-top: 10px;
}

.page-indicator span{
    border: 1px solid var(--color-secondary-light);
    color: var(--color-primary);
    padding: 5px 10px;
    margin-right: 2px;
    border-radius: 4px;
}

.page-indicator .page-previous{
    color: var(--color-secondary-light);
}

.page-indicator .page-current{
    background-color: var(--color-primary);
    color: white;
}

.card{
    width: 350px;
    height: 430px;
    border: 1px solid var(--color-secondary);
    border-radius: 6px;
    overflow: hidden;
    margin-right: 20px;
    display: inline-block;
    border:1px solid var(--color-secondary-light);
}

.card-design1-heading{
    width: 90%;
    padding: 15px;
    overflow: hidden;
}

.card-design1-heading .card-profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    vertical-align: middle;
    /* margin-right: ; */
}

.card-design1-heading div{
    float: left;
}

.card-design1-heading p{
    color: var(--color-secondary-light);
}

.card-design1-heading .icon-triple-dot{
    float: right;
    width: 30px;
    height: 30px;
}

.card-design1 .card-image1{
    width: 100%;
    height: 250px;
}

.card-icons{
    overflow: hidden;
    width: 90%;
    margin: auto;
}

.card-footer .card-icons img{
    width: 30px;
    height: 30px;
    float: left;
}

.card-icons img:last-child{
    float: right;
}

.card-icons img:first-child{
    margin-right: 100px;
}

.card-footer hr{
    margin: 10px 2px;
    border-top: 1px solid var(--color-secondary-light);
}

.card-footer .card-subscribe{
    width: 90%;
    margin:auto ;
}

.card-subscribe img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.card-subscribe input{
    padding: 10px;
    border-radius: 30px;
    border:1px solid var(--color-secondary-light);

}

.card-subscribe input::placeholder{
    color: var(--color-secondary-light);
}

.card-image2 img{
    width: 100%;
    height: 300px;
    position: relative;
}

.card-play{
    position: absolute;
    padding: 15px;
    margin-left: 145px;
    border-radius: 50px;
    background-color:var(--color-primary-dark);
    margin-top: -27px;
}

.card-footer .card-design2-content{
    text-align: center;
    margin-top: 50px;
}

.card-image3 img{
    width: 100%;
    height: 270px;
    
}

.card-design3-heading button{
    padding: 5px 10px;
    margin: 10px;
    background-color: var(--color-primary-dark);
    color: white;
    border-style: none;
    border-radius: 6px;
}

.card-design3-heading p{
    margin: 5px;
}

.card-design3-heading p:last-child{
    color: var(--color-secondary-light);
}

 .card-design3-footer{
    width: 90%;
    margin: 10px 0 0 10px;
    vertical-align: middle;
}

.card-design3-footer p{
    display: inline;
    margin-right: 20px;
}

.card-design3-footer .comment,
.card-design3-footer .heart{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 7px;
}
