.usepayme__container {
  overflow: hidden;
}

.usepayme__content {
  float: left;
  max-width: 468px;
  width: 50%;
  margin-top: 300px;
}

.button__icon {
  margin-right: 11px;
  width: 14px;
  height: 16px;
  vertical-align: middle;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.button__icon img {
  width: 14px;
  height: 16px;
}

.usepayme__image {
  float: right;
  width: 50%;
  padding-top: 100px;
  padding-bottom: 60px;
}

.usepayme__para {
  margin-bottom: 32px;
}
@media screen and (max-width: 1100px) {
  .usepayme__image img {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .usepayme__content {
    float: none;
    max-width: 100%;
    width: 100%;
    margin-top: 100px;
  }

  .usepayme__image {
    float: none;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 60px;
  }
}
