.form {
  overflow: hidden;
  width: 100%;
}

.form > div {
  float: left;
  padding-right: 20px;
}

.form-left {
  width: 30%;
  padding: 20px;
}

.form-left ul {
  border: 1px solid var(--color-secondary-light);
  list-style-type: none;
  padding: 0;

  /* width: 40%;  */
}

.form-left li {
  padding: 15px;
  border-bottom: 1px solid var(--color-secondary-light);
}

.form-left .select-form {
  background-color: var(--color-primary);
  color: white;
}

.form-right {
  float: left;
  padding: 20px;
}

.form-right-el {
  margin: 20px;
  padding: 10px;
}

.form-right-el .first-input {
  width: 50%;
  height: 30px;
  border: 1px solid var(--color-secondary-light);
}
.form-right-el select {
  width: 50%;
  height: 30px;
  border: 1px solid var(--color-secondary-light);
}
.form-right-el select option {
  color: var(--color-secondary-light);
}

.form-right-el textarea {
  width: 50%;
  height: 100px;
  border: 1px solid var(--color-secondary-light);
}
.form-right-el ::placeholder {
  color: var(--color-secondary-light);
}
.test {
  overflow: hidden;
}

.item-column {
  float: left;
  margin: 10px;
  margin-right: 20px;
  font-size: 10px;
}

.item-column div {
  line-height: 25px;
}

.item-inline {
  float: left;
  margin: 10px;
  font-size: 10px;
}

.item-inline div {
  display: inline-block;
  margin-right: 20px;
}

.form-right-el div .validation {
  padding: 10px;
  margin: 10px;
}

.form-right-el .input-success input {
  border-radius: 2px;
  height: 30px;
  width: 70%;
  border: 1px solid var(--color-success);
  color: var(--color-success);
}

.form-right-el .input-error input {
  border-radius: 2px;
  height: 30px;
  width: 70%;
  border: 1px solid var(--color-danger);
  color: var(--color-danger);
}
