:root {
  --color-primary: #7749f8;
  --color-primary-dark: #5227cc;
  --color-primary-light: #ebe5fc;

  --color-secondary: #696969;
  --color-secondary-dark: #54595e;
  --color-secondary-light: #abb5be;

  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;

  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
}

body {
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 0 auto;
}
.custom-container {
  margin: 0 100px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

hr {
  margin: 20px 0;
}

header {
  background-color: #f8f9fa;
}

.primary {
  background-color: var(--color-primary);
}

.primary_dark {
  background-color: var(--color-primary-dark);
}

.primary_light {
  background-color: var(--color-primary-light);
}
