.container__features {
  margin: 0 auto;
}

.features__heading {
  text-align: center;
  margin-bottom: 100px;
}

.feature__type {
  font-size: 40px;
  font-weight: 600px;
}

.features__ui {
  display: flex;
  flex-direction: row;
  /* margin: auto; */
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 50px;
}

.ui__image {
  margin-right: 20px;
  position: relative;
}

.ui__comp1 {
  position: absolute;
  top: -72px;
  left: 58px;
  z-index: -1;
}
.ui__comp2 {
  position: absolute;
  top: -63px;
  left: 215px;
  z-index: -1;
}

.ui__comp3 {
  position: absolute;
  bottom: 16px;
  right: 105px;
  z-index: -1;
}
.ui__comp4 {
  position: absolute;
  bottom: 51px;
  right: 366px;
  z-index: -1;
}

.ui__content {
  max-width: 542px;
}

.ui__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.ui__list__icon img {
  padding: 20px;
  background-color: white;
  border-radius: 35px;
  margin-right: 20px;
  box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
}

.features__tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
  /* margin: auto; */
}

.tools__content {
  max-width: 520px;
  margin-top: 200px;
  margin-right: 230px;
}

.features__quizes {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 100px;
}

.quizes__image {
  margin-right: 100px;
}

.quizes__content h2 {
  max-width: 346px;
}

.quizes__content {
  max-width: 596px;
  margin-top: 200px;
}

.features__classmanage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 160px;
}

.classmanage__content {
  max-width: 500px;
  margin-right: 100px;
  margin-top: 200px;
}

.features__discussion {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.discussion__content {
  max-width: 400px;
  margin-top: 150px;
}

.discussion__image {
  margin-right: 200px;
}

.discussion__btn {
  text-align: center;
}
